doctype html
html
    head 
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block title
        block scripts
            script(src="../static/base.js")
        block link
            link(rel="stylesheet", href="../static/base.css")
    body
        #maincontainer 
            #navdiv 
                div#navbox
                    h2#logo GetsOkay | Earn Free Money
                    nav#navbar 
                        ul#ul 
                            li #[a(href = "/" id = "btn1") Home]
                            li #[a(href = "/login" id  = "btn2") Login]
                            li #[a(href = "/register" id  = "btn3") Register]
                            li #[a(href = "/contactUs" id  = "btn4") Contact Us]
                input#hamburger(type='checkbox' onclick="onCheckedMob()")
                i#hamburgeri(class="fa fa-bars" for='hamburger')
            #contentbox 
                block content 
                footer
                    div#footerbox
                        | Copyright 2022 - Ourwebsite.com | All Rights Reserved   
