extends base.pug

block title
    title Forget Password

block scripts
    script(src="https://kit.fontawesome.com/cb9560845e.js" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="../static/forgetpassword.js")
    script(src="../static/base.js")

block link
    link(rel="stylesheet", href="../static/base.css")
    link(rel="stylesheet", href="../static/form.css")
    link(rel="stylesheet", href="../static/forgetpass.css")


block content
    div#container
        div#box
            #method-logo
                img(src="../static/images/easypaisa.png", alt="easypaisa")
            #method-name Forgotten Password
            form(action="/login", method="post", id="login-form") 
                #usernameforgbox.boxee
                    i(class="fa-solid fa-user")
                    input(name="email" type="text" id="email" placeholder="Enter Registered Email")
                    button#check.actionupbtn(type="button" onclick="onSendCode()") Send Code
                #forgcodebox.boxee
                    i(class="fa-solid fa-key")
                    input(name="otp" type="number" id="otp" placeholder="Enter Code (Click 'Send Code' to get Code)")
                button#loginbtn(class="btn" type="button" onclick="onGetPass()") Get New Password
            p#already Don't have an account? #[a(href="/register") Create Account]
        #errorbox
            p#error