extends base.pug

block title
    title Login

block scripts
    script(src="https://kit.fontawesome.com/cb9560845e.js" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="../static/login.js")
    script(src="../static/base.js")

block link
    link(rel="stylesheet", href="../static/base.css")
    link(rel="stylesheet", href="../static/form.css")


block content
    div#container
        div#box
            #method-logo
                img(src="../static/images/easypaisa.png", alt="easypaisa")
            #method-name Login Your Account
            form(action="/login", method="post", id="login-form") 
                #usernamebox.boxee
                    i(class="fa-solid fa-user")
                    input(name="username" type="text" id="username" placeholder="Enter Your Username")
                #passwordbox.boxee
                    i(class="fa-solid fa-key")
                    input(name="password" type="password" id="password" placeholder="Enter Your Password")
                button#forgetpass.actionupbtn(type="button" onclick="onForgetPass()") Forget Password
                button#loginbtn(class="btn" type="button" onclick="onLogin()") Login
            p#already Don't have an account? #[a.pagetransfer(href="/register") Create Account]
        #errorbox
            p#error