extends base.pug

block title
    title New Password

block scripts
    script(src="https://kit.fontawesome.com/cb9560845e.js" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="../static/setnewpassword.js")
    script(src="../static/base.js")

block link
    link(rel="stylesheet", href="../static/base.css")
    link(rel="stylesheet", href="../static/form.css")


block content
    div#container
        div#box
            #method-logo
                img(src="../static/images/easypaisa.png", alt="easypaisa")
            #method-name Set New Password
            form(method="post", id="login-form") 
                #newpasswordbox.boxee
                    i(class="fa-solid fa-key")
                    input(name="password" type="password" id="password" placeholder="Enter New Password")
                #newconfirmpasswordbox.boxee
                    i(class="fa-solid fa-key")
                    input(name="confirmpassword" type="password" id="confirmpassword" placeholder="Confirm New Password")
                button#loginbtn(class="btn" type="button" onclick="onSavePass()") Save
        #errorbox
            p#error