#welcometext{
    position: absolute;
    left: 150px;
    top: 40px;
}
#bigbox{
    display: none;
    margin-top: 20px;
}
#accountstatusbox{
    display: flex;
    width: 90%;
    max-width: 700px;
    height: 40px;
    margin: auto;
    position: relative;
    align-items: center;
    border: 1px solid rgb(157, 238, 157);
    border-radius: 10px;
    background: rgb(201, 243, 201);
    /* padding: 5px; */
    padding-left: 12px;
}
#iconbox{
    width: max-content;
    background: rgb(201, 243, 201);
}
#timebox{
    width: calc(100% - 130px);
    overflow: hidden;
    display: flex;
}

#buttonbox{
    width: fit-content;
    position: absolute;
    right: 3%;

}
#time{
    margin-left: 7px;
    white-space: nowrap;
    position: relative;
}
#activatebtn{
    display: none;
    padding: 8px 6px;
    border: none;
    outline: none;
    border-radius: 7px;
    background: #3788ca;
    color: white;
    box-shadow: 3px 2px 0px 1px #a79b9b;
    margin-top: -3px;
}
#boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.balbox{
    display: flex;
    border-radius: 10px;
    width: 23%;
    min-width: 200px;
    height: 140px;
    align-items: center;
    justify-content: space-between;
    color: white;
    box-sizing: border-box;
    transition: 3s;
    box-shadow: 4px 3px 7px 2px #a79b9b;
    margin-top: 30px;
    margin-left: 2%;
}
#AvailBal{
    background: linear-gradient(to left, #b52651, rgb(175 123 132));
}

.baltext{
    position: relative;
    top: -10px
}
.baltext h4{
    margin-left: 32px;
    font-size: 1.1vw;
}
.baltext h1{
    font-size: 2.4vw;
    margin-left: 36px;
}
.icon{
    border: 4px solid white;
    border-radius: 50px;
    padding: 5px;
    padding-top: 9px;
}
.icon i{
    font-size: calc(1rem + 2vw);
}
#availicon i{
    font-size: calc(1.4rem + 2vw);
}


#TotalBal{
    background: linear-gradient(to left, #4d37ca, rgb(123, 145, 175));
}
/* #totalicon{
    padding: 10px;
} */
#withdrawBal{
    background: linear-gradient(to left, #ca6537, rgb(175, 146, 123));
}
/* #withdrawicon{
    padding: 10px;
} */
#ActivityPortion{
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}
#Activitiesbox{
    display: flex;
    flex-direction: column;
    background: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px rgb(160, 158, 158);
    margin: 30px 0px;
    overflow: auto;
    padding: 10px 0;
    

}
.activity{
    display: flex;
    margin-top: 10px;
    width: 90%;
    min-width: 700px;
    height: 50px;
    background: rgb(222, 223, 247);
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px rgb(160, 158, 158);

}
.textbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    font-weight: bold;
}
.type{
    width: 25%;
}
.status{
    width: 25%;
    color: green;
}
#Activitiesbox h1{
    margin: auto;
}
@media only screen and (max-width: 1000px){
    #Activitiesbox{
        align-items: flex-start;
        padding: 3%;
        
    }
}
@media only screen and (max-width: 600px){
    #boxes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    .balbox{
        width: 75%;
        min-width: 290px;
        /* z-index: -5; */
        justify-content: space-around;
        margin-top: 16px;
        margin-left: 0px;
    }
    #AvailBal{
        margin-left: 0px;
        margin-top: 50px;
    }
    /* #TotalBal{
        left: 35px;
        top: 220px;
    }
    #withdrawBal{
        left: 35px;
        top: 390px;
    } */
    .baltext h4 {
        margin-left: 17px;
        font-size: 19px;
  }
  .baltext h1 {
    margin-left: 23px;
    font-size: 30px;
}
#availicon i{
    font-size: 50px;
}
#withdrawicon i{
    font-size: 40px;
}
#totalicon i{
    font-size: 40px;
}
#totalicon{
    margin-left: 5px;
}
}