*{
    padding: 0;
    margin: 0;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 88vh;
    overflow: auto;
}
#box{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 50px 0px;
    height: max-content;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    
}
#method-logo{
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}
#method-logo img{
    height: 80px;
    width: 80px;
    margin: 10px;
}
#method-name {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #6ad173;
    letter-spacing: 1px;
    text-align: center;
  }
  form{
    text-align: left;
    margin-top: 30px;
}
.boxee, .btn {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  input::placeholder {
    color: gray;
}
.boxee{
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;     
}
form input{
    background: #ecf0f3;
    border: none;
    outline: none;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 6px;
}
#phone{
    padding-left: 36px;
}
.iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
    right: auto;
    left: -11px;
    top: 5px;
}
button {
    color: white;
    margin-top: 20px;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
  }
  
  button:hover {
    box-shadow: none;
  }
  .pagetransfer{
    color: rgb(74, 207, 125);
    font-weight: bold;
    text-decoration: none;
  }
#info{
    width: 90%;
    margin-top: 8px;
    opacity: 0.6;
    margin-bottom: -12px;
}
.actionupbtn{
    color: green;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    margin: 0px;
    float: right;
}
#forgcodebox input{
    width: 80%;
}
#loginbtn{
    margin-top: 35px;
}
#already{
    margin-top: 10px;
    margin-bottom: 28px;
    font-size: 16px;
}
#errorbox{
    position: fixed;
    top: 80px;
    right: 25px;
    background: #d14343;
    border-radius: 10px;
}
#error{
    font-size: 13px;
    margin-top: 3px;
    color: #ecf0f3;
    font-weight: bold;
}
#referrerIDhidden{
    display: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: url("path/to/flags@2x.png");}
  }

@media only screen and (max-width: 600px) {
#box{
    max-width: 500px;
    width: 80%;
}
}
@media only screen and (max-width: 406px) {
form input{
    width: 70%;
    font-size: 12px;
}
}